.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 270px;
      height: 150px;
      border: 1px solid red;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: flex;
        justify-content: end;
        margin-left: 10px;
        color: red;
        cursor: pointer;
      }
    }
  }
}