.container {
  flex-direction: column;
  overflow: auto;
  div {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

      .square {
        border:1px solid darkseagreen;
        border-radius: 3px;
        width: 200px;
        height: 70px;
        margin: 20px;

      .remove {
        position: relative;
        top: 0;
        left: 2px;
        color: darkseagreen;
        cursor:pointer;
        font-family: sans-serif;
        font-size:13px;
      }

  }
     }
}