.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container {
  width: 60%;
  height: 500px;
  border:2px solid #3f3838;
  margin-top:25px ;
  padding-top: 20px;
}